html{
height: 100%;
}

body{
min-height: 100%;
margin: 0;
padding: 0;
display: flex;
flex-direction: column;
}

header{
background: linear-gradient(180deg, #01051B 68.57%, #9A0776 100%);
width: 100%;
height: 40px;
margin: 0px;
padding: 0px;
position: fixed;
}

.navbar{
display: flex;
flex-direction: row;
position: fixed;
}


nav{
display: flex;
flex-direction: row;
justify-content: center;
margin: 0px;
gap: 0px;
}

.logo{
width: 22px;
}

.fa-sharp1{
color: #ffffff;
margin: 0;
padding: 10px;
}

.logo-name{
width:201px;
height:16px;
font-family: space mono;
font-weight: 700;
font-size: 12px;
line-height: 18px;
text-align: center;
padding-top: 9px;
margin: 0;
color: #ffffff;
}

footer{
background:linear-gradient(180deg, #01051B 68.57%, rgba(154, 7, 118, 0.89) 100%);
width: 100%;
margin-top: auto;
}

.footerlogo{
width: 167px;
}

.bottom{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.bottom p{
color: #ffffff;
text-align: center;
}